.carousel-multi-item .carousel-inner.v-2 .carousel-item-next,
.carousel-multi-item .carousel-inner.v-2 .carousel-item-prev,
.carousel-multi-item .carousel-inner.v-2 .carousel-item.active {
    display: flex;
}

.carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next {
    -webkit-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
}

.carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%);
}

.carousel-multi-item.v-2.product-carousel .carousel-item-right,
.carousel-multi-item.v-2.product-carousel .carousel-item-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

@media (max-width: 991px) {

    .carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
    .carousel-multi-item.v-2.product-carousel .carousel-item-next {
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    .carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
    .carousel-multi-item.v-2.product-carousel .carousel-item-prev {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .carousel-multi-item.v-2.product-carousel .carousel-item-right,
    .carousel-multi-item.v-2.product-carousel .carousel-item-left {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (max-width: 768px) {

    .carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
    .carousel-multi-item.v-2.product-carousel .carousel-item-next {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    .carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
    .carousel-multi-item.v-2.product-carousel .carousel-item-prev {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .carousel-multi-item.v-2.product-carousel .carousel-item-right,
    .carousel-multi-item.v-2.product-carousel .carousel-item-left {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}


.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
    width: 20px;
    height: 20px
}

.carousel .carousel-control-prev-icon {
    background-image: url(../img/svg/arrow_left.svg)
}

.carousel .carousel-control-next-icon {
    background-image: url(../img/svg/arrow_right.svg)
}

.carousel .carousel-indicators li {
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    cursor: pointer
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
    opacity: 1
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
    opacity: 0
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    transform: translateX(0)
}

@supports (transform-style: preserve-3d) {

    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item-prev.active,
    .carousel-fade .carousel-item.active {
        transform: translate3d(0, 0, 0)
    }
}

.carousel-multi-item {
    margin-bottom: 5rem
}

.carousel-multi-item .carousel-inner .carousel-item.active,.carousel-multi-item .carousel-item-next,.carousel-multi-item .carousel-item-prev {
    display: block
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-next,.carousel-multi-item .carousel-inner.v-2 .carousel-item-prev,.carousel-multi-item .carousel-inner.v-2 .carousel-item.active {
    display: flex
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-next,.carousel-multi-item .carousel-inner.v-2 .carousel-item-right.active {
    transform: translateX(33%)
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-left.active,.carousel-multi-item .carousel-inner.v-2 .carousel-item-prev {
    transform: translateX(-33%)
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-left,.carousel-multi-item .carousel-inner.v-2 .carousel-item-right {
    transform: translateX(0)
}

.carousel-multi-item .carousel-indicators li {
    height: 1.25rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color: #4285f4;
    margin-bottom: -3.75rem
}

.carousel-multi-item .carousel-indicators .active {
    height: 1.56rem;
    width: 1.56rem;
    max-width: 1.56rem;
    background-color: #4285f4;
    border-radius: 50%
}

.carousel-multi-item .controls-top {
    text-align: center;
    margin-bottom: 1.88rem
}

.carousel-multi-item .controls-top .btn-floating {
    background: #4285f4
}

.carousel-multi-item .carousel-indicators {
    margin-bottom: -2em
}

.carousel-multi-item .card-cascade.narrower {
    margin-top: 1.25rem;
    margin-bottom: .3rem
}

@media (min-width: 768px) {
    .carousel-multi-item .col-md-4 {
        float:left;
        width: 33.333333%;
        max-width: 100%
    }
}

@media only screen and (max-width: 992px) {
    .carousel-multi-item .carousel-indicators li {
        margin-bottom:-1.88rem
    }
}

.carousel-thumbnails .carousel-indicators {
    white-space: nowrap;
    overflow-x: auto;
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
    margin-right: initial
}

.carousel-thumbnails .carousel-indicators>li {
    width: initial;
    height: initial;
    text-indent: initial
}

.carousel-thumbnails .carousel-indicators>li .active img {
    opacity: 1
}

.wrapper-carousel-fix .carousel-fade .active.carousel-item-left,.wrapper-carousel-fix .carousel-fade .active.carousel-item-right {
    transition: transform .6s ease;
    transition-property: opacity
}

.text-ln-4 {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 7.2em;
    line-height: 1.8em;
    font-family: Roboto Condensed, 'BlinkMacSystemFont', -apple-system, 'Roboto', 'Lucida Sans';
}

.custom_bg_green{
    background-color: rgba(4, 104, 96) !important;
}

.user-info {
    position: absolute;
    bottom: -12.5%;
    padding: 1.25rem;
    width: 100%;
    background: rgba(4, 104, 96, 0.7);
}
    /* The animation code */
@keyframes slide_user_up {
    to   {
        top: 0%;
        background: rgb(4, 104, 96);
    }
    from {
        top: 40%;
        background: rgba(4, 104, 96, 0.7);
    }
}
.user-info:hover {
    animation-name: slide_user_up;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
