.report-dash {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;
    box-shadow: 1px 1px 2px 2px #ccc;
}

.report-dash-milestone {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;
    box-shadow: 1px 1px 2px 2px #ccc;
}

@media only screen and (max-width: 1091px) {
    .report-dash {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 100%;
        border-radius: 5px;
        -moz-box-shadow: 1px 1px 2px 2px #ccc;
        -webkit-box-shadow: 1px 1px 2px 2px #ccc;
        box-shadow: 1px 1px 2px 2px #ccc;
    }
}

.new-milestone-btn {
    background-color: #006600;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
}

.new-milestone-btn:hover {
    -moz-box-shadow: 1px 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;
    box-shadow: 1px 1px 2px 2px #ccc;
    background-color: #ffffff;
    color: #006600;
    padding: 5px 10px 5px 10px;
}

.milestone-link {
    background-color: #ffffff;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;
    box-shadow: 1px 1px 2px 2px #ccc;
}

.milestone-link:hover {
    border-radius: 5px;
    border: 1px solid #006600;
    background-color: #ffffff;
    -moz-box-shadow: 1px 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;
    box-shadow: 1px 1px 2px 2px #ccc;
}

.review-project .project-contain {
    display: inline-block;
}

.review-project .table th,
.review-project .table td {
    vertical-align: middle;
    padding: 7px 15px;
}

.review-project.card tbody > tr > th:not(:first-child),
.review-project.card tbody > tr > td:not(:first-child) {
    font-family: roboto;
    font-size: 13px !important;
}

.review-project img {
    vertical-align: top;
    width: 35px;
    min-width: 32px;
    height: 35px;
}
.membership-update-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height */

    color: #353535;
}

.membership-update-title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #353535;
}

.membership-update-date {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #979797;
}
