.input-text {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Inter, sans-serif;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
}

.input-label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #6d6c6c;
}

.input-checkbox {
    border: 1px solid #cccccc;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    padding-top: 10px;
    margin-right: 3px;
}

.checkbox-text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
}

.submit-button {
    background: #006600;
    border-radius: 5px;
    color: #fff;
}

.submit-button:hover {
    color: #fff;
    border: #0b8457 solid 2px;
}

.newregbtn-roadshow {
    margin-top: 20px;
    background: #efb443;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
}

.countdown {
    position: absolute;
    top: 70px;
    right: 60px;
    width: 150px;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}

.theme-div {
    background: #ffffff;
    border: 3px solid #006600;
    border-radius: 10px;
}

.theme-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    color: #686868;
}

.theme-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height, or 146% */
    color: #252525;
}

.orange-rect {
    position: relative;
    top: -90px;
    width: 159px;
    height: 279px;
    border: 2px solid #efb443;
    box-sizing: border-box;
    border-radius: 10px;
}

.vrs-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height, or 162% */

    color: #006600;
}

.vrs-value {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    /* or 162% */

    color: #686868;
}

ul.nav > li.nav-item > a.active {
    background: #e4fde4;
    border-radius: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #006600;
    border-bottom: 2px solid #006600;
}

ul.nav > li.nav-item > a.active.nav-link {
    background: #e4fde4;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #006600;
    border-bottom: 3px solid #006600;
}

ul.nav > li.nav-item > a.nav-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #8c8a8a;
    border-bottom: 2px solid #e9e9e9;
    border-radius: 0px;
}

.vrs-speaker {
    box-shadow: 0px;
}

.vrs-speaker-det {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    width: 70%;
    margin-top: -40px;
}

.vrs-speaker-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* identical to box height, or 161% */

    color: #292929;
}

.vrs-speaker-position {
    padding-top: 0px;
    margin-top: -20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* identical to box height, or 156% */

    color: #606060;
}

.vrs-speaker-day {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height, or 164% */
    margin-top: -10px;
    margin-bottom: 0px;
    color: #efb443;
}

.vrs-form-header {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.top-info-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

@media screen and (min-width: 776px) {
    .vrs-country-position {
        margin-top: 8px;
        margin-left: -150px;
    }
}

@media screen and (max-width: 767px) {
    .vrs-country-position {
        margin-top: 8px;
        margin-left: -35px;
    }
}
