.input-text{
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Inter, sans-serif;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
}

.input-label{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #6d6c6c;
}

.input-checkbox{
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    padding-top: 10px;
    margin-right: 3px;
}

.checkbox-text{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
}

.submit-button{
    background: #006600;
    border-radius: 5px;
    color: #fff;
}

.submit-button:hover{
    color: #fff;
    border: #0b8457 solid 2px;
}
