.card-header{
    height: 62px;
    border-radius: 10px 10px 0 0;
}

.card-body{
    box-sizing: border-box;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid #e2e0e0;
    border-radius: 0 0 10px 10px;
}
