/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');

.na-brown-text{
    color: #492A0B;
}

.na-dashboard-border{
    border-radius: 18px !important;
}

.na-dashboard-footer{
    font-size: 15px;
    color: #492A0B;
}

.na-card-body{
    background-color: #e3f1f1;
    border-radius: 12px;
}

.na-center-self{
    display: flex;
    justify-content: center;
    align-items: center;
}

.na-border-radius{
    border-radius: 8px;
}

.na-investor-text-grey{
    color: #4F4D4D;
}

.na-investor-text-grey2{
    color: #5A5959;
}

.na-investor-text-grey3{
    color: #1A1A1A;
}

.na-text-grey{
    color: #B0B0B1 !important;
}

.na-text-dark{
    color: #121212 !important;
}

.na-text-white{
    color: #ffffff;
}

.na-font-inter{
    font-family: 'Inter', sans-serif;
}

.na-text-bold-500{
    font-style: normal;
    font-weight: 500;
}

.bg-orange{
    background-color: rgba(246, 203, 117, 0.76);
}

.na-bg-lemon{
    background-color: #f1ffef;
    padding: 2px;
}

.na-investor-text3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
}

.na-investor-text4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.na-investor-bg-dark-green{
    background: #006600;
}

.na-investor-bg-trans-white{
    background: rgba(255, 255, 255, 0.15);
}

.na-investor-shadow-radius{
    box-shadow: 0px 4px 8px 1px rgba(0, 102, 0, 0.15);
    border-radius: 5px;
}

.na-inv-hover-text:hover{
    color: #ffffff !important;
}

.na-investor-trans-bg-yellow{
    background-color: #FFFDE9;
}

.na-investor-trans-bg-green{
    background-color: #F3FFF3;
}

.na-btn-outline-green{
    background-color: transparent;
    border: solid 1px #006600;
    color: #006600;
}

.na-investor-btn-radius{
    border-radius: 6px;
}

.na-intern-form-input{
    border: 1px solid #B4B4B4;
    box-sizing: border-box;
    border-radius: 5px;
}

.na-inv-form{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: auto;
    outline: none;
    padding: 12px;
}

.na-inv-coinvestor-search {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 100%;
    outline: none;
    padding: 12px;
}

.na-inv-form-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: auto;
    outline: none;
    padding: 12px;
    color: #8e8e8e;
}

.na-inv-form2{
    border: 1px solid #696969;
    box-sizing: border-box;
    border-radius: 5px;
    color: #8e8e8e;
    width: 100%;
    padding: 8px;
}

.na-inv-form2-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #696969;
    box-sizing: border-box;
    border-radius: 5px;
    color: #939393;
    width: 100%;
    padding: 8px;
}

.na-inv-form-label{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
}

.na-inv-border-green{
    border: solid 2px #006600;
}

.na-inv-user-pic-medium img{
    width: 100px;
    height: 100px;
}

.bg-gray-radius{
    background-color: #eae9e9;
    border-radius: 5px;
}

.intro-content{
    position: absolute;
    left: 74px;
    margin-top: 20%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.intro-text{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.na-header-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
}

.login-form{
    border: 1px solid #444444;
    width: 100%;
    outline: none;
    padding: 10px;
    background-color: #fff;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #716E6E;
}

.login-form-label{
    position: absolute;
    width: 124px;
    height: 19px;
    left: 812px;
    top: 296px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.password-container i {
    margin-left: -30px;
    cursor: pointer;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: 12px;
    position: relative;
    z-index: 2;
}

.login-form-btn{
    height: 49px;
    width: 100%;
    color: #FFFFFF;
    background: #006600;
    border-radius: 5px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.login-shortcut{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4F4E4E;
}

.font-manrope{
    font-family: Manrope, serif;
}

.learning-intro-header{
    font-family: Manrope, serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
}

.font-normal-manrope-black{
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #444444;
}

.font-small-manrope-black{
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 27px;
    color: #444444;
}

.login-form-label{
    font-family: Manrope, serif !important;
    font-style: normal !important;
    font-size: 12px !important;
    line-height: 22px !important;
    color: #333333 !important;
    float: left !important;
}

.login-form-checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid #7B7B7B;
    box-sizing: border-box;
    border-radius: 3px;
}

.login-link:any-link{
    color: #006600;
}

.dashboard-search-form{
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding-left: 3px;
}

.dashboard-search-form input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #fff;
    outline: none;
    height: 100%;
}

.bg-radius-white{
    width: auto;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.font-large-inter{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.text-inter{
    font-family: Inter, serif;
}

.text-manrope{
    font-family: Manrope, serif !important;
}

.text-light-brown{
    color: #ce8000!important;
}

.na-text-dark-green{
    color:#006600;
}

.light-green{
    color: #089803;
}

.border-brown{
    border: 1px solid #CE8000
}

.module-complete-counter{
    background-color: #089803;
    color: #fff;
    font-family: Inter, serif;
    border-radius: 5px;
    margin: 8px;
    padding: 20px 10px;
    text-align: center;
    width: 100%;
}

.bg-white-radius-shadow{
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.bg-white-radius{
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
}

.btn-light-green-outline{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #089803;
    border: 1px solid #089803;
    border-radius: 6px;
    background-color: #fff;
    margin: 0 auto;
    padding: 6px;
}

.bg-light-brown{
    background-color: #CE8000;
    color: #fff;
}

.bg-light-green{
    background-color: #089803;
}

.bg-very-light-brown{
    background-color: #ffd48c;
}

.bg-gray{
    background-color: #898989;
    color: #fff;
}

.border-light-green{
    border: 1px solid #089803;
}

.bg-lemon-green{
    background: #D4FFD2;
}

.opacity30 {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.module-grid-container{
    height: 350px;
    position: relative;
    background: #FFFFFF url('../images/stock/dock.jpg');
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

img.module-grid-image{
    border-radius: 10px;
    position: relative;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 700px;
    height: 350px;
}

/*.module-grid-img-crop{*/
/*    object-fit: none; !* Do not scale the image *!*/
/*    object-position: center; !* Center the image within the element *!*/
/*    width: 700px;*/
/*    height: 350px;*/
/*}*/

.module-grid-content{
    position:absolute;
    bottom: 0;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.module-btn{
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    margin: 10px auto;
    border: none;
}

.module-title{
    background-color: #fff;
    color: #089803;
    padding: 2px;
    font-size: 14px;
    margin-left: 8px;
    border-radius: 5px;
    text-align: center;
}

.bread-crumbs{
    background: rgba(111, 8, 8, 0.03);
    padding: 4px;
    border-radius: 5px;
}

.bread-crumbs a{
    color: #676767;
    font-size: 14px;
}

.bread-crumbs a:hover{
    color: #CE8000;
}

.text-gray{
    color: #676767 !important;
}

.border-bottom-grey{
    border-bottom: 1px solid #676767;
}

.course-video{
    margin:5px auto;
}

.border-bottom-light-green{
    color: #089803;
}

.course-tabs span{
    padding: 5px 10px;
    border-bottom: 1px solid #676767;
    cursor: pointer;
}

.discussion-comment-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #006600;
    padding-top: 10px;
}

.discussion-reply-btn{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #006600;
    border: 1px solid #006600;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

.discussion-comment-name{
    position: relative;
    top:2px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #333333;
}

.discussion-comment-time{
    position: relative;
    top: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.discussion-comment-body{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #6B6B6B;
}

.discussion-comment-like{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #089803;
    background-color: transparent;
    border: none;
}

.discussion-comment-reply{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #089803;
    background-color: transparent;
    border: none;
}

.discussion-comment-reply:active{
    border: none;
}

.learning-discussion-header-title{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.learning-discussion-header-comment-fig{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #6B6B6B;
}

.comment-form-submit {
    border: 0px;
    padding: 10px 15px;
    background: #006600;
    border-radius: 5px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.course-tabs .active{
    border-bottom: 4px solid #089803;
}

.course-resources{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
}

.bg-badge-warning{
    background: rgba(247, 227, 1, 0.12);
    color: #CE8000;
}

.bg-badge-success{
    background: rgba(8, 152, 3, 0.08);
    color: #006600;
}

.bg-badge-danger{
    background: rgba(111, 8, 8, 0.06);
    color: #D94C01;
}

.module-grid-contents{
    height: 80px;
}

#courseCountdown{
    display: inline-block;
    width: auto;
    margin-left: 5px;
    color: #fff;
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
    font-size: 15px;
}

input[type="radio"].assessment-radio-input{
    border: 1px solid #818181;
    box-sizing: border-box;
}

.assessment-loader {
    animation: rotation 8s infinite linear;
    margin-left: 35%;
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.certificate-bg{
    margin: 0 auto;
    width: 500px;
    height: 406px;
    background-image: url(../images/icons/certificate_yaedp_500.png);
}

.certificate-bg-sample{
    margin: 0 auto;
    width: 500px;
    height: 406px;
    background-image: url(../images/icons/certificate_yaedp_500_sample.png);
}

.certificate-name{
    position: absolute;
    top: 51%;
    left: 53%;
    text-align: center;
    font-family: Manrope, serif !important;
}

.certificate-date{
    position: absolute;
    top: 67%;
    left: 46%;
    font-size: 11px;
    font-family: Manrope, serif !important;
}

.icon-shadow{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2px;
}

.form-input{
    border: 1px solid #B4B4B4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    margin-bottom: 12px;
}

.form-select{
    border: 1px solid #B4B4B4;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 12px;
}

.form-label{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
